.footer{
    background:grey;
}
.nav-item
{
    margin-right: 15px;
    border-radius:15px;
}
.reservetable .card
{
    float: right;
   
    align-self: center;

}
.reservetable  .card-header .h3
{
    background-color: brown;
    padding: 5px;
}
